<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>客户案例标题六-(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载</title>
<meta name="keywords" content="客户,案例,标题,六,">
<meta name="description" content="品牌传播的最终目的就是要发挥创意的力量，利用各种有效发声点在市场上形成统一的、多方位的品牌声浪，有声浪就有话语权。东道以企业品牌核心价值为原则,在品牌识别的整体框架下,为客">
<meta name="viewport" content="width=1500">
<link href="skin/css/style.css" rel="stylesheet">
<script src="skin/js/jquery.min.js"></script>
</head>
<body>
<div class="top201">
  <div class="w201 clearfix">
    <div class="zc201">您好，欢迎进入某某电动伸缩门有限公司官网！</div>
    <div class="r201">
      <ul>
        
		<li><a href="/map/" target="_blank">网站地图</a></li>
		
        |
        
        <li><a href="/liuyan/" title="在线留言">在线留言</a></li>
        
        |
        
        <li><a href="/contact/" title="联系我们">联系我们</a></li>
        
      </ul>
    </div>
  </div>
</div>
<div class="h201_main">
  <div class="head201 w201 clearfix"><a class="logo201 fl" href="/" title="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载"><img src="skin/picture/1638065583922419.png" alt="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载"></a>
    <div class="ss201 fr">
      <form  name="formsearch" action="/search/"  method="get">
        <input class="stxt201" type="text" name="keyword" value="请输入关键词" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue"/>
        <input type="submit" class="sbtn201 icon201" value=''/>
      </form>
    </div>
  </div>
</div>
<div class="nav201">
  <div class="na201 w201">
    <ul class="list201 clearfix">
      <li><a href="/" >网站首页<span>Home</span><i></i></a></li>
      
      <li><a href="/about/" title="关于我们" >关于我们<span>ABOUT US</span><i></i></a>
        <dl>
          
          <dd><a href="/wenhua/" title="企业文化">企业文化</a></dd>
          
          <dd><a href="/linian/" title="企业理念">企业理念</a></dd>
          
          <dd><a href="/zizhi/" title="公司资质">公司资质</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/product/" title="产品中心" >产品中心<span>PRODUCT</span><i></i></a>
        <dl>
          
          <dd><a href="/lm1/" title="不锈钢伸缩门">不锈钢伸缩门</a></dd>
          
          <dd><a href="/lm2/" title="铝合金电动门">铝合金电动门</a></dd>
          
          <dd><a href="/lm3/" title="电动道闸门">电动道闸门</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/news/" title="新闻中心" >新闻中心<span>NEWS</span><i></i></a>
        <dl>
          
          <dd><a href="/gongsi/" title="公司资讯">公司资讯</a></dd>
          
          <dd><a href="/hangye/" title="行业动态">行业动态</a></dd>
          
          <dd><a href="/wenti/" title="常见问题">常见问题</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/case/" title="合作案例" class="hover">合作案例<span>CASE</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/service/" title="售后服务" >售后服务<span>service</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/liuyan/" title="在线留言" >在线留言<span>MESSAGE</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/contact/" title="联系我们" >联系我们<span>CONTACT US</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
    </ul>
  </div>
</div>

<div class="nybanner" style="background-image: url(skin/images/1638065019588727.jpg);"></div>
<div class="wrapper clearfix">
  <div class="left fl">
    <div class="menu">
      <div class="ey_title"><s class="icon fr"></s>
        <h3>合作案例</h3>
      </div>
      <div class="submenu">
        <ul class="list">
		  
        </ul>
      </div>
    </div>
    <div class="leftbox leftnews">
      <div class="ey_title">
        <h3>推荐产品</h3>
      </div>
      <div class="leftpro clearfix">
        <ul>
          
		  <li><a href="/lm2/34.html" title="产品中心标题六"><img src="skin/picture/1-1z5140z630142.jpg" alt="产品中心标题六">
            <p>产品中心标题六</p>
            </a></li>
          
		  <li><a href="/lm1/30.html" title="产品中心标题二"><img src="skin/picture/1-1z5140z2535u.jpg" alt="产品中心标题二">
            <p>产品中心标题二</p>
            </a></li>
          
		  <li><a href="/lm1/32.html" title="产品中心标题四"><img src="skin/picture/1-1z5140z429c6.jpg" alt="产品中心标题四">
            <p>产品中心标题四</p>
            </a></li>
          
		  <li><a href="/lm1/36.html" title="产品中心标题八"><img src="skin/picture/1-1z5140zp1g2.jpg" alt="产品中心标题八">
            <p>产品中心标题八</p>
            </a></li>
          
        </ul>
      </div>
    </div>
    <div class="leftbox">
      <div class="ey_title">
        <h3>联系我们</h3>
      </div>
      <div class="cont"> <strong>邮箱：</strong>admin@admin.com<br>
        <strong>电话：</strong>400-888-8888<br>
        <strong>地址：</strong>上海浦东新区上海路C座102室 <a class="zx" href="http://wpa.qq.com/msgrd?v=3&uin=11696561&site=qq&menu=yes"><em class="icon"></em>在线咨询</a></div>
    </div>
  </div>
  <div class="content fr">
    <div class="location">
      <div class="sitepath fr"><s class="eytb"></s><a href="/">首页</a> >> <a href="/case/">合作案例</a></div>
      <h3>合作案例</h3>
    </div>
    <div class="showinfo">
      <h1 class="title">客户案例标题六</h1>
      <div class="mark"><span>发布日期：2019-10-29 07:46:47</span><span>浏览次数：502</span></div>
      <div class="showcontxt"> <p style="text-align: center;">
	<img alt="" src="skin/picture/1-1z42q220290-l.jpg" /></p>
 </div>
      <div class="relink clearfix">
        <div class="prevlink fl">上一篇：<a href="/case/13.html">客户案例标题五</a></div>
        <div class="nextlink fr">下一篇：没有了！</div>
      </div>
    </div>
    <div class="recomcon">
      
	  <div class="recom-tit"><a href="/news/" class="more" title="查看更多 &gt;&gt;">查看更多 &gt;&gt;</a><s></s>推荐资讯</div>
      <div class="txtimglist clearfix"> 
        <div class="item"><a href="/hangye/8.html" title="选择电动伸缩门有哪些技巧？使用时要注意这些"><img src="skin/picture/1-1z42q20201o2.jpg" alt="选择电动伸缩门有哪些技巧？使用时要注意这些">
          <h3>选择电动伸缩门有哪些技巧？使用时要注意这些</h3>
          <div class="txt">电动伸缩门现在广泛被应用于我们的生活中，例如小区大门口、商场门口、学校门口等等，不同的地方对于它的选···</div>
          </a></div>
        
        <div class="item"><a href="/hangye/16.html" title="自动伸缩门的特点说明"><img src="skin/picture/1-19102915340y31.jpg" alt="自动伸缩门的特点说明">
          <h3>自动伸缩门的特点说明</h3>
          <div class="txt">根据自动伸缩门产品自身的特点和人们的审美习惯，既不需要仰视，也不需要俯视，只需平视 就能一睹尊容的视···</div>
          </a></div>
        
        <div class="item"><a href="/gongsi/3.html" title="电动伸缩门的价格怎么样？ 它有哪些尺寸？"><img src="skin/picture/1-1z42q156360-l.jpg" alt="电动伸缩门的价格怎么样？ 它有哪些尺寸？">
          <h3>电动伸缩门的价格怎么样？ 它有哪些尺寸？</h3>
          <div class="txt">一般电动伸缩门最常用门体宽度尺寸为630,750,800，并且电动伸缩门的标准高度一般是1.6米。 ···</div>
          </a></div>
        
        <div class="item"><a href="/hangye/5.html" title="选购伸缩门有哪些诀窍"><img src="skin/picture/1-1z42q15i50-l.jpg" alt="选购伸缩门有哪些诀窍">
          <h3>选购伸缩门有哪些诀窍</h3>
          <div class="txt">一看、电动门品牌上的生产企业名称应与产品型式认可证书和检验报告一致，产品名称应明确注明是电动门产品，···</div>
          </a></div>
         </div>
	  
    </div>
  </div>
</div>
<div class="footer169">
  <div class="b169_main">
    <div class="w169 clearfix">
      <div class="lx169 fl">
        <h3>联系方式</h3>
        <p class="p169">全国服务热线</p>
        <p class="tel169">400-888-8888</p>
        <p>手　机：13888888888</p>
        <p>地　址：上海浦东新区上海路C座102室</p>
      </div>
      <div class="bnav169 fl"> 
        <dl>
          <dt><a href="/about/">关于我们</a></dt>
          
          <dd><a href= "/wenhua/">企业文化</a></dd>
          
          <dd><a href= "/linian/">企业理念</a></dd>
          
          <dd><a href= "/zizhi/">公司资质</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/product/">产品中心</a></dt>
          
          <dd><a href= "/lm1/">不锈钢伸缩门</a></dd>
          
          <dd><a href= "/lm2/">铝合金电动门</a></dd>
          
          <dd><a href= "/lm3/">电动道闸门</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/news/">新闻中心</a></dt>
          
          <dd><a href= "/gongsi/">公司资讯</a></dd>
          
          <dd><a href= "/hangye/">行业动态</a></dd>
          
          <dd><a href= "/wenti/">常见问题</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/case/">合作案例</a></dt>
          
        </dl>
         </div>
      <div class="ewm169 fr">
        <dl>
          <dt><img src="skin/picture/1677634259962680.jpg"/></dt>
          <dd>扫一扫，获取开发软件</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="bq169_main">
    <div class="w169 clearfix">
      <p>Copyright © 2022 电动伸缩门 版权所有　<a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP123456号</a>　<a href="/sitemap.xml" target="_blank">XML地图</a>　 </p>
    </div>
  </div>
</div>
<!-- 右侧客服 -->
<link href="skin/css/kefu.css" rel="stylesheet">
<ul class="right_nav">
  <li>
    <div class="iconBox oln_ser"> <img src='skin/picture/rnqq.png'>
      <h4>在线客服</h4>
    </div>
    <div class="hideBox">
      <div class="hb">
        <h5>在线咨询</h5>
        <div class="qqtalk"> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=11696561&site=qq&menu=yes"> <span><img src="skin/picture/online.png"></span>
          <p>点击发消息</p>
          </a> </div>
      </div>
    </div>
  </li>
  <li>
    <div class="iconBox phe_num"> <img src='skin/picture/rncall.png'>
      <h4>联系电话</h4>
    </div>
    <div class="hideBox">
      <div class="hb">
        <h5>热线电话</h5>
        <p>13888888888</p>
      </div>
    </div>
  </li>
  <li>
    <div class="iconBox to_msg"> <img src='skin/picture/rnmsg.png'>
      <h4><a href="/liuyan/">在线留言</a></h4>
    </div>
  </li>
  <li>
    <div class="iconBox top"> <img src='skin/picture/rntop.png'>
      <h4>回到顶部</h4>
    </div>
  </li>
</ul>
<script type="text/javascript" src='skin/js/kefu.js'></script> 
<!-- 右侧客服end --> 

</body>
</html>