<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载</title>
<meta name="keywords" content="厂房大门网站模板,电动闸门网站模板,自动伸缩门网站源码">
<meta name="description" content="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载">
<meta name="author" content="www.ofym.com" />
<meta name="viewport" content="width=1500">
<link href="skin/css/style.css" rel="stylesheet">
<script src="skin/js/jquery.min.js"></script>
<script src="skin/js/jquery.superslide.2.1.1.js"></script>
</head>
<body>
<div class="top201">
  <div class="w201 clearfix">
    <div class="zc201">您好，欢迎进入某某电动伸缩门有限公司官网！</div>
    <div class="r201">
      <ul>
        
		<li><a href="/map/" target="_blank">网站地图</a></li>
		
        |
        
        <li><a href="/liuyan/" title="在线留言">在线留言</a></li>
        
        |
        
        <li><a href="/contact/" title="联系我们">联系我们</a></li>
        
      </ul>
    </div>
  </div>
</div>
<div class="h201_main">
  <div class="head201 w201 clearfix"><a class="logo201 fl" href="/" title="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载"><img src="./skin/picture/1638065583922419.png" alt="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载"></a>
    <div class="ss201 fr">
      <form  name="formsearch" action="/search/"  method="get">
        <input class="stxt201" type="text" name="keyword" value="请输入关键词" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue"/>
        <input type="submit" class="sbtn201 icon201" value=''/>
      </form>
    </div>
  </div>
</div>
<div class="nav201">
  <div class="na201 w201">
    <ul class="list201 clearfix">
      <li><a href="/" class="hover">网站首页<span>Home</span><i></i></a></li>
      
      <li><a href="/about/" title="关于我们" >关于我们<span>ABOUT US</span><i></i></a>
        <dl>
          
          <dd><a href="/wenhua/" title="企业文化">企业文化</a></dd>
          
          <dd><a href="/linian/" title="企业理念">企业理念</a></dd>
          
          <dd><a href="/zizhi/" title="公司资质">公司资质</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/product/" title="产品中心" >产品中心<span>PRODUCT</span><i></i></a>
        <dl>
          
          <dd><a href="/lm1/" title="不锈钢伸缩门">不锈钢伸缩门</a></dd>
          
          <dd><a href="/lm2/" title="铝合金电动门">铝合金电动门</a></dd>
          
          <dd><a href="/lm3/" title="电动道闸门">电动道闸门</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/news/" title="新闻中心" >新闻中心<span>NEWS</span><i></i></a>
        <dl>
          
          <dd><a href="/gongsi/" title="公司资讯">公司资讯</a></dd>
          
          <dd><a href="/hangye/" title="行业动态">行业动态</a></dd>
          
          <dd><a href="/wenti/" title="常见问题">常见问题</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/case/" title="合作案例" >合作案例<span>CASE</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/service/" title="售后服务" >售后服务<span>service</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/liuyan/" title="在线留言" >在线留言<span>MESSAGE</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/contact/" title="联系我们" >联系我们<span>CONTACT US</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
    </ul>
  </div>
</div>

<div id="b182" class="b182">
  <ul class="list182 clearfix">
    
    <li><a href=""><img src="skin/picture/1638066989755138.jpg"/></a></li>
    
  </ul>
  <div class="next182"></div>
  <div class="prev182"></div>
  <div class="tip182"></div>
</div>

<div class="prcbox_323">
  <div class="prctit">产品中心</div>
  <div class="prccon">
    <div class="hd">
      <ul>
        
        <li>不锈钢伸缩门</li>
        
        <li>铝合金电动门</li>
        
        <li>电动道闸门</li>
        
      </ul>
    </div>
    <div class="bd"> 
      <ul>
        
        <li> <a href="/lm1/30.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140z2535u.jpg" alt="产品中心标题二"/></div>
          <div class="tit"><span>产品中心标题二</span></div>
          </a> </li>
        
        <li> <a href="/lm1/32.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140z429c6.jpg" alt="产品中心标题四"/></div>
          <div class="tit"><span>产品中心标题四</span></div>
          </a> </li>
        
        <li> <a href="/lm1/36.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140zp1g2.jpg" alt="产品中心标题八"/></div>
          <div class="tit"><span>产品中心标题八</span></div>
          </a> </li>
        
        <li> <a href="/lm1/29.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140z113s0.jpg" alt="产品中心标题一"/></div>
          <div class="tit"><span>产品中心标题一</span></div>
          </a> </li>
        
        <li> <a href="/lm1/31.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140z3325n.jpg" alt="产品中心标题三"/></div>
          <div class="tit"><span>产品中心标题三</span></div>
          </a> </li>
        
        <li> <a href="/lm1/35.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140zh62x.jpg" alt="产品中心标题七"/></div>
          <div class="tit"><span>产品中心标题七</span></div>
          </a> </li>
        
        <li> <a href="/lm1/37.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140zs9607.jpg" alt="产品中心标题九"/></div>
          <div class="tit"><span>产品中心标题九</span></div>
          </a> </li>
        
        <li> <a href="/lm1/38.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-200203162g30-l.jpg" alt="产品中心标题十"/></div>
          <div class="tit"><span>产品中心标题十</span></div>
          </a> </li>
        
      </ul>
      
      <ul>
        
        <li> <a href="/lm2/34.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140z630142.jpg" alt="产品中心标题六"/></div>
          <div class="tit"><span>产品中心标题六</span></div>
          </a> </li>
        
      </ul>
      
      <ul>
        
        <li> <a href="/lm3/33.html" target="_blank">
          <div class="ppic"><img src="skin/picture/1-1z5140z5025f.jpg" alt="产品中心标题五"/></div>
          <div class="tit"><span>产品中心标题五</span></div>
          </a> </li>
        
      </ul>
       </div>
    <div class="pmore"><a href="/product/" target="_blank">查看更多</a></div>
  </div>
</div>


<div class="about290">
  <div class="ab290 w290">
    <div class="part3 clearfix">
      
      <div class="img fl"><img src="skin/picture/1638072638228012.jpg" alt="关于我们"/></div>
      <div class="txt fr"><a href="/about/">
        <h3>关于我们</h3>
        <h4>ABOUT US</h4>
        <p class="desc">某某伸缩自动门科技有限公司是一家专业从事道路交通设施相关产品的研发、生产、销售和施工的高新科技企业，本公司主要经营的产品是：伸缩门，电动门，停车场智能系统，岗亭，道闸，环氧地坪，交通设施等服务，公司依着品质，质量，服务为一体的体系完善···</p>
        <span class="fr"><em class="icon"></em></span></a></div>
        
    </div>
  </div>
</div>

<div class="eyys">
  <div class="floor w1200">
    <div class="ystit">
      <h3 class="tit">我们的优势</h3>
      <p class="subtit">客户的口碑才是王道</p>
    </div>
    <div class="eybox">
      <div class="eylist">
        <li class="item">
          <div class="img"><img src="skin/picture/ys1.png"></div>
          <div class="txt">
            <h3>为您提供一站式服务</h3>
            <p>7*24小时物流配送、全国各地可直接覆盖安装，服务有口皆碑专业的售后服务团队，贴心服务，定期回访跟进展示状况，为你解决一切问题。</p>
          </div>
        </li>
        <li class="item">
          <div class="img"><img src="skin/picture/ys2.png"></div>
          <div class="txt">
            <h3>成本-低，给你-佳性价比</h3>
            <p>从原材料采购到生产工序及产品包装，保证质量的同时，成本降到极致。</p>
          </div>
        </li>
        <li class="item">
          <div class="img"><img src="skin/picture/ys3.png"></div>
          <div class="txt">
            <h3>制作过程严格监控</h3>
            <p>从设计源头到出厂安装，公司实行全程质量跟踪记录，道闸生产流程配有质量跟踪单，保证每个环节能严格把关，按时按质完全订单，同时保障品牌连锁店及时到货。</p>
          </div>
        </li>
        <li class="item">
          <div class="img"><img src="skin/picture/ys4.png"></div>
          <div class="txt">
            <h3>专注电动门、停车场系统</h3>
            <p>多年来专注于电动门，不锈钢伸缩门，停车场系统的生产与研发，我们全国各地拥有近200家经销商与门店，辐射覆盖全国各地！我们的经营理念:合作共赢，互惠互利，期待来电</p>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>

<div class="case231_main">
  <div class="c_231 w231 clearfix">
    <div class="ctit231">
      <h3 class="tit">合作案例</h3>
      <p class="subtit">CASE</p>
    </div>
    <div class="menu clearfix">
      <ul class="list clearfix">
        
      </ul>
    </div>
    <div class="icase231 clearfix">
      <div class="bigbox fl" id="pic231">
        <div class="bd">
          <ul>
            
            <li class="item"><a href="/case/14.html" title="客户案例标题六"><img src="skin/picture/1-1z42q220290-l.jpg" alt="客户案例标题六"/>
              <div class="txt">
                <h3 class="tit">客户案例标题六</h3>
              </div>
              <div class="txtbox231"><span class="in_icon"></span>
                <h3>客户案例标题六</h3>
              </div>
              </a></li>
            
            <li class="item"><a href="/case/13.html" title="客户案例标题五"><img src="skin/picture/1-1z42q220070-l.jpg" alt="客户案例标题五"/>
              <div class="txt">
                <h3 class="tit">客户案例标题五</h3>
              </div>
              <div class="txtbox231"><span class="in_icon"></span>
                <h3>客户案例标题五</h3>
              </div>
              </a></li>
            
            <li class="item"><a href="/case/12.html" title="客户案例标题四"><img src="skin/picture/1-1z42q219470-l.jpg" alt="客户案例标题四"/>
              <div class="txt">
                <h3 class="tit">客户案例标题四</h3>
              </div>
              <div class="txtbox231"><span class="in_icon"></span>
                <h3>客户案例标题四</h3>
              </div>
              </a></li>
            
            <li class="item"><a href="/case/11.html" title="客户案例标题三"><img src="skin/picture/1-1z42q219240-l.jpg" alt="客户案例标题三"/>
              <div class="txt">
                <h3 class="tit">客户案例标题三</h3>
              </div>
              <div class="txtbox231"><span class="in_icon"></span>
                <h3>客户案例标题三</h3>
              </div>
              </a></li>
            
            <li class="item"><a href="/case/10.html" title="客户案例标题二"><img src="skin/picture/1-1z42q21z30-l.jpg" alt="客户案例标题二"/>
              <div class="txt">
                <h3 class="tit">客户案例标题二</h3>
              </div>
              <div class="txtbox231"><span class="in_icon"></span>
                <h3>客户案例标题二</h3>
              </div>
              </a></li>
            
          </ul>
        </div>
        <div class="hd">
          <ul>
          </ul>
        </div>
      </div>
      <div class="smabox fl">
        <div class="sma231"> 
          <div class="item"><a href="/case/14.html" title="客户案例标题六"><img class="img" src="skin/picture/1-1z42q220290-l.jpg" alt="客户案例标题六"/>
            <div class="txt">
              <h3 class="tit">客户案例标题六</h3>
            </div>
            <div class="txtbox231">
              <h3 class="tit1">客户案例标题六</h3>
              <p class="detail">查看详情</p>
            </div>
            </a></div>
          
          <div class="item"><a href="/case/13.html" title="客户案例标题五"><img class="img" src="skin/picture/1-1z42q220070-l.jpg" alt="客户案例标题五"/>
            <div class="txt">
              <h3 class="tit">客户案例标题五</h3>
            </div>
            <div class="txtbox231">
              <h3 class="tit1">客户案例标题五</h3>
              <p class="detail">查看详情</p>
            </div>
            </a></div>
          
          <div class="item"><a href="/case/12.html" title="客户案例标题四"><img class="img" src="skin/picture/1-1z42q219470-l.jpg" alt="客户案例标题四"/>
            <div class="txt">
              <h3 class="tit">客户案例标题四</h3>
            </div>
            <div class="txtbox231">
              <h3 class="tit1">客户案例标题四</h3>
              <p class="detail">查看详情</p>
            </div>
            </a></div>
          
          <div class="item"><a href="/case/11.html" title="客户案例标题三"><img class="img" src="skin/picture/1-1z42q219240-l.jpg" alt="客户案例标题三"/>
            <div class="txt">
              <h3 class="tit">客户案例标题三</h3>
            </div>
            <div class="txtbox231">
              <h3 class="tit1">客户案例标题三</h3>
              <p class="detail">查看详情</p>
            </div>
            </a></div>
           </div>
      </div>
    </div>
    <div class="pmore"><a href="/case/" target="_blank">查看更多</a></div>
  </div>
</div>


<div class="news_326">
  <div class="tit">
    <p> NEWS</p>
    <a href="/news/"> 新闻中心</a> </div>
  <div class="news_list">
    <ul>
      
      <li> <a href="/wenti/17.html"> <b><img src="skin/picture/1-1910291535190-l.jpg"/></b> <em><span>01</span>2021-06</em> </a> <a href="/wenti/17.html"> <span class="title">怎么保养铝合金电动伸缩门？</span></a>
        <p> 1、使用方法正确 在使用中，动作要尽可能的轻开轻关，不要用力过大过猛;电动伸缩门··· </p>
      </li>
      
      <li> <a href="/wenti/18.html"> <b><img src="skin/picture/1-1910291535410-l.jpg"/></b> <em><span>01</span>2021-06</em> </a> <a href="/wenti/18.html"> <span class="title">解读：影响我国伸缩门行业发展的几大因素</span></a>
        <p> 科技的不断进步为人们的生活和工作提供了极大的便利，具体表现在门的应用和发展方面，··· </p>
      </li>
      
      <li> <a href="/wenti/19.html"> <b><img src="skin/picture/1-1910291536200-l.jpg"/></b> <em><span>01</span>2021-06</em> </a> <a href="/wenti/19.html"> <span class="title">电动伸缩门的保养</span></a>
        <p> 随着科技的发达，科技智能的电器已经慢慢应用到生活中，现在就连门也用全自动化的了。··· </p>
      </li>
      
      <li> <a href="/wenti/20.html"> <b><img src="skin/picture/1-1910291536410-l.jpg"/></b> <em><span>01</span>2021-06</em> </a> <a href="/wenti/20.html"> <span class="title">电动伸缩门特色</span></a>
        <p> 电动伸缩门特色 伸缩门的作用和特点 1、智能红外线防爬装置：遇人爬门时,系统会马··· </p>
      </li>
      
      <li> <a href="/wenti/21.html"> <b><img src="skin/picture/1-191029153f20-l.jpg"/></b> <em><span>01</span>2021-06</em> </a> <a href="/wenti/21.html"> <span class="title">段滑门性能以及特点</span></a>
        <p> 1、门体长度可做19.5米，高度1.2-2米，门体可分为2-4节;门排采用优质铝··· </p>
      </li>
      
      <li> <a href="/wenti/22.html"> <b><img src="skin/picture/1-191029153h80-l.jpg"/></b> <em><span>01</span>2021-06</em> </a> <a href="/wenti/22.html"> <span class="title">电动伸缩门漏电的两种可能性</span></a>
        <p> 1、电缆漏电。因为电缆要随着门伸缩支架来回伸缩，无法进行刚性保护，频繁动作，加大··· </p>
      </li>
      
    </ul>
  </div>
  <div class="pmore"><a href="/news/" target="_blank">查看更多</a></div>
</div>

<div class="link192">
  <div class="w192">
    <div class="web192">
      <h4>友情链接 <small>/ LINKS</small></h4>
      <ul class="clearfix">
        
        <li><a href="http://www.baidu.com" title="百度" target="_blank">百度</a></li>
        
        <li><a href="http://www.1688.com" title="阿里巴巴" target="_blank">阿里巴巴</a></li>
        
        <li><a href="http://www.taobao.com" title="淘宝" target="_blank">淘宝</a></li>
        
      </ul>
    </div>
  </div>
</div>
<script src="skin/js/index.js"></script> 
<div class="footer169">
  <div class="b169_main">
    <div class="w169 clearfix">
      <div class="lx169 fl">
        <h3>联系方式</h3>
        <p class="p169">全国服务热线</p>
        <p class="tel169">400-888-8888</p>
        <p>手　机：13888888888</p>
        <p>地　址：上海浦东新区上海路C座102室</p>
      </div>
      <div class="bnav169 fl"> 
        <dl>
          <dt><a href="/about/">关于我们</a></dt>
          
          <dd><a href= "/wenhua/">企业文化</a></dd>
          
          <dd><a href= "/linian/">企业理念</a></dd>
          
          <dd><a href= "/zizhi/">公司资质</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/product/">产品中心</a></dt>
          
          <dd><a href= "/lm1/">不锈钢伸缩门</a></dd>
          
          <dd><a href= "/lm2/">铝合金电动门</a></dd>
          
          <dd><a href= "/lm3/">电动道闸门</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/news/">新闻中心</a></dt>
          
          <dd><a href= "/gongsi/">公司资讯</a></dd>
          
          <dd><a href= "/hangye/">行业动态</a></dd>
          
          <dd><a href= "/wenti/">常见问题</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/case/">合作案例</a></dt>
          
        </dl>
         </div>
      <div class="ewm169 fr">
        <dl>
          <dt><img src="skin/picture/1677634259962680.jpg"/></dt>
          <dd>扫一扫，获取开发软件</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="bq169_main">
    <div class="w169 clearfix">
      <p>Copyright © 2022 电动伸缩门 版权所有　<a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP123456号</a>　<a href="/sitemap.xml" target="_blank">XML地图</a>　 </p>
    </div>
  </div>
</div>
<!-- 右侧客服 -->
<link href="skin/css/kefu.css" rel="stylesheet">
<ul class="right_nav">
  <li>
    <div class="iconBox oln_ser"> <img src='skin/picture/rnqq.png'>
      <h4>在线客服</h4>
    </div>
    <div class="hideBox">
      <div class="hb">
        <h5>在线咨询</h5>
        <div class="qqtalk"> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=11696561&site=qq&menu=yes"> <span><img src="skin/picture/online.png"></span>
          <p>点击发消息</p>
          </a> </div>
      </div>
    </div>
  </li>
  <li>
    <div class="iconBox phe_num"> <img src='skin/picture/rncall.png'>
      <h4>联系电话</h4>
    </div>
    <div class="hideBox">
      <div class="hb">
        <h5>热线电话</h5>
        <p>13888888888</p>
      </div>
    </div>
  </li>
  <li>
    <div class="iconBox to_msg"> <img src='skin/picture/rnmsg.png'>
      <h4><a href="/liuyan/">在线留言</a></h4>
    </div>
  </li>
  <li>
    <div class="iconBox top"> <img src='skin/picture/rntop.png'>
      <h4>回到顶部</h4>
    </div>
  </li>
</ul>
<script type="text/javascript" src='skin/js/kefu.js'></script> 
<!-- 右侧客服end --> 

</body>
</html>