<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站地图-(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载</title>
<meta name="keywords" content="厂房大门网站模板,电动闸门网站模板,自动伸缩门网站源码">
<meta name="description" content="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载">
<meta name="viewport" content="width=1500">
<link href="skin/css/style.css" rel="stylesheet">
<script src="skin/js/jquery.min.js"></script>
</head>
<body>
<!--顶部开始--> 
<div class="top201">
  <div class="w201 clearfix">
    <div class="zc201">您好，欢迎进入某某电动伸缩门有限公司官网！</div>
    <div class="r201">
      <ul>
        
		<li><a href="/map/" target="_blank">网站地图</a></li>
		
        |
        
        <li><a href="/liuyan/" title="在线留言">在线留言</a></li>
        
        |
        
        <li><a href="/contact/" title="联系我们">联系我们</a></li>
        
      </ul>
    </div>
  </div>
</div>
<div class="h201_main">
  <div class="head201 w201 clearfix"><a class="logo201 fl" href="/" title="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载"><img src="skin/picture/1638065583922419.png" alt="(PC+WAP)厂房门网站模板 铁门网站源码 电动闸门伸缩门类网站pbootcms模板 蓝色自动伸缩门网站源码下载"></a>
    <div class="ss201 fr">
      <form  name="formsearch" action="/search/"  method="get">
        <input class="stxt201" type="text" name="keyword" value="请输入关键词" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue"/>
        <input type="submit" class="sbtn201 icon201" value=''/>
      </form>
    </div>
  </div>
</div>
<div class="nav201">
  <div class="na201 w201">
    <ul class="list201 clearfix">
      <li><a href="/" >网站首页<span>Home</span><i></i></a></li>
      
      <li><a href="/about/" title="关于我们" >关于我们<span>ABOUT US</span><i></i></a>
        <dl>
          
          <dd><a href="/wenhua/" title="企业文化">企业文化</a></dd>
          
          <dd><a href="/linian/" title="企业理念">企业理念</a></dd>
          
          <dd><a href="/zizhi/" title="公司资质">公司资质</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/product/" title="产品中心" >产品中心<span>PRODUCT</span><i></i></a>
        <dl>
          
          <dd><a href="/lm1/" title="不锈钢伸缩门">不锈钢伸缩门</a></dd>
          
          <dd><a href="/lm2/" title="铝合金电动门">铝合金电动门</a></dd>
          
          <dd><a href="/lm3/" title="电动道闸门">电动道闸门</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/news/" title="新闻中心" >新闻中心<span>NEWS</span><i></i></a>
        <dl>
          
          <dd><a href="/gongsi/" title="公司资讯">公司资讯</a></dd>
          
          <dd><a href="/hangye/" title="行业动态">行业动态</a></dd>
          
          <dd><a href="/wenti/" title="常见问题">常见问题</a></dd>
          
        </dl>
      </li>
      
      <li><a href="/case/" title="合作案例" >合作案例<span>CASE</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/service/" title="售后服务" >售后服务<span>service</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/liuyan/" title="在线留言" >在线留言<span>MESSAGE</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
      <li><a href="/contact/" title="联系我们" >联系我们<span>CONTACT US</span><i></i></a>
        <dl>
          
        </dl>
      </li>
      
    </ul>
  </div>
</div>
 
<!--头部结束--> 
<!--内页大图开始-->
<div class="nybanner" style="background-image: url(skin/images/1638017640748090.jpg);"></div>
<!--内页大图结束-->
<div class="bg_main">
  <div class="sub_nav w1200 clearfix">
    <div class="fl">网站地图</div>
  </div>
  <div class="detail w1200">
    <div class="context"> 
      <!--网站地图开始--> 
      
      <dl class="sitemap">
        <dt><a href="/about/" title="关于我们">关于我们</a></dt>
        <dd>  <a href="/wenhua/" title="企业文化">企业文化</a>  <a href="/linian/" title="企业理念">企业理念</a>  <a href="/zizhi/" title="公司资质">公司资质</a>  </dd>
      </dl>
      
      <dl class="sitemap">
        <dt><a href="/product/" title="产品中心">产品中心</a></dt>
        <dd>  <a href="/lm1/" title="不锈钢伸缩门">不锈钢伸缩门</a>  <a href="/lm2/" title="铝合金电动门">铝合金电动门</a>  <a href="/lm3/" title="电动道闸门">电动道闸门</a>  </dd>
      </dl>
      
      <dl class="sitemap">
        <dt><a href="/news/" title="新闻中心">新闻中心</a></dt>
        <dd>  <a href="/gongsi/" title="公司资讯">公司资讯</a>  <a href="/hangye/" title="行业动态">行业动态</a>  <a href="/wenti/" title="常见问题">常见问题</a>  </dd>
      </dl>
      
      <dl class="sitemap">
        <dt><a href="/case/" title="合作案例">合作案例</a></dt>
        <dd>  </dd>
      </dl>
      
      <dl class="sitemap">
        <dt><a href="/service/" title="售后服务">售后服务</a></dt>
        <dd>  </dd>
      </dl>
      
      <dl class="sitemap">
        <dt><a href="/liuyan/" title="在线留言">在线留言</a></dt>
        <dd>  </dd>
      </dl>
      
      <dl class="sitemap">
        <dt><a href="/contact/" title="联系我们">联系我们</a></dt>
        <dd>  </dd>
      </dl>
      
      <!--网站地图结束--> 
    </div>
  </div>
</div>
<!--页尾开始--> 
<div class="footer169">
  <div class="b169_main">
    <div class="w169 clearfix">
      <div class="lx169 fl">
        <h3>联系方式</h3>
        <p class="p169">全国服务热线</p>
        <p class="tel169">400-888-8888</p>
        <p>手　机：13888888888</p>
        <p>地　址：上海浦东新区上海路C座102室</p>
      </div>
      <div class="bnav169 fl"> 
        <dl>
          <dt><a href="/about/">关于我们</a></dt>
          
          <dd><a href= "/wenhua/">企业文化</a></dd>
          
          <dd><a href= "/linian/">企业理念</a></dd>
          
          <dd><a href= "/zizhi/">公司资质</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/product/">产品中心</a></dt>
          
          <dd><a href= "/lm1/">不锈钢伸缩门</a></dd>
          
          <dd><a href= "/lm2/">铝合金电动门</a></dd>
          
          <dd><a href= "/lm3/">电动道闸门</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/news/">新闻中心</a></dt>
          
          <dd><a href= "/gongsi/">公司资讯</a></dd>
          
          <dd><a href= "/hangye/">行业动态</a></dd>
          
          <dd><a href= "/wenti/">常见问题</a></dd>
          
        </dl>
        
        <dl>
          <dt><a href="/case/">合作案例</a></dt>
          
        </dl>
         </div>
      <div class="ewm169 fr">
        <dl>
          <dt><img src="skin/picture/1677634259962680.jpg"/></dt>
          <dd>扫一扫，获取开发软件</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="bq169_main">
    <div class="w169 clearfix">
      <p>Copyright © 2022 电动伸缩门 版权所有　<a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">苏ICP123456号</a>　<a href="/sitemap.xml" target="_blank">XML地图</a>　 </p>
    </div>
  </div>
</div>
<!-- 右侧客服 -->
<link href="skin/css/kefu.css" rel="stylesheet">
<ul class="right_nav">
  <li>
    <div class="iconBox oln_ser"> <img src='skin/picture/rnqq.png'>
      <h4>在线客服</h4>
    </div>
    <div class="hideBox">
      <div class="hb">
        <h5>在线咨询</h5>
        <div class="qqtalk"> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=11696561&site=qq&menu=yes"> <span><img src="skin/picture/online.png"></span>
          <p>点击发消息</p>
          </a> </div>
      </div>
    </div>
  </li>
  <li>
    <div class="iconBox phe_num"> <img src='skin/picture/rncall.png'>
      <h4>联系电话</h4>
    </div>
    <div class="hideBox">
      <div class="hb">
        <h5>热线电话</h5>
        <p>13888888888</p>
      </div>
    </div>
  </li>
  <li>
    <div class="iconBox to_msg"> <img src='skin/picture/rnmsg.png'>
      <h4><a href="/liuyan/">在线留言</a></h4>
    </div>
  </li>
  <li>
    <div class="iconBox top"> <img src='skin/picture/rntop.png'>
      <h4>回到顶部</h4>
    </div>
  </li>
</ul>
<script type="text/javascript" src='skin/js/kefu.js'></script> 
<!-- 右侧客服end --> 

</body>
</html>